/*=============================================>>>>>
= Body font colour =
===============================================>>>>>*/

$textcolor: #605e5e;

/*=============================================>>>>>
= Brand colours =
===============================================>>>>>*/

$primary: #292929;
$secondary: rgb(166, 158, 145);
$white: rgb(255, 254, 252);
$offwhite: rgb(203, 201, 206);
$subhighlight: rgb(97, 38, 32);
$highlight: rgb(43, 82, 137);