/*=============================================>>>>>
= Body font colour =
===============================================>>>>>*/

$textcolor: #484e59;

/*=============================================>>>>>
= Brand colours =
===============================================>>>>>*/

$primary: rgb(64, 58, 34);
$secondary: rgb(166, 158, 145);
$white: rbg(255, 254, 252);
$offwhite: rbg(203, 201, 206);