.site-header {
  background-color: #fbfbfb;
  text-align: center;
  width: 100%;
  display: grid;
  grid-template-rows: fit-content fit-content 1fr;
  grid-template-columns: 100%;
  padding-top: 110px;
  display: flex;
  justify-content: center;
  a:hover {
    text-decoration-line: none;
  }
}

.site-title {
  margin-bottom: 11px;
  text-transform: uppercase;
  align-self: end;
  font-size: 48px;
  letter-spacing: 0.1em;
  color: $primary;
}

.header-capabilities {
  span {
    font-size: 14px;
    text-transform: uppercase;
  }

  letter-spacing: 0.5em;

  .capability-spacer {
    padding: 0 10px;
  }

  .capability-container {
    display: inline;
  }
}

.header-wrapper {
  max-width: 1200px;
}
