.side-bar {
  display: flex;
  flex-direction: column;
  .name {
    color: $primary;
    font-weight: $font-weight-bold;
    h2 {
      margin: 0;
    }
    span {
      color: $secondary;
      font-weight: $font-weight-regular;
    }
  }
}

.side-bar-items {
  a {
    &:hover,
    &:focus {
      color: $highlight;
    }
  }
  
}
