.site-header {
  background-color: #fbfbfb;
  text-align: center;
  width: 100%;
  display: grid;
  grid-template-rows: fit-content fit-content 1fr;
  grid-template-columns: 100%;
  padding-top: 80px;
  display: flex;
  justify-content: center;

  @include media-down(small-tablet) {
    padding-top: 40px;
  }

  a:hover {
    text-decoration-line: none;
  }
}

.site-title {
  margin-bottom: 11px;
  text-transform: uppercase;
  align-self: end;
  font-size: 48px;
  letter-spacing: 0.1em;
  color: $primary;

  @include media-down(small-tablet) {
    font-size: 30px;
  }
}

.header-capabilities {
  span {
    font-size: 14px;
    text-transform: uppercase;

    @include media-down(small-tablet) {
      font-size: 12px;
      letter-spacing: 0.3em;
    }
  }

  @include media-down(small-tablet) {
    padding: 5px 5px 0;
  }

  letter-spacing: 0.5em;

  .capability-spacer {
    padding: 0 10px;
  }

  .capability-container {
    display: inline;
  }
}

.header-wrapper {
  max-width: 1200px;
}

.header-tabs {
  padding: 30px 0 10px;
  font-size: 16px;
  font-weight: $font-weight-semi-bold;
  font-style: italic;
  line-height: 40px;
  


  .tab {
    text-transform: capitalize;
    opacity: 0.6;

    &.active {
      opacity: 1;

      &:hover {
        cursor: default;
      }
    }

    &:not(:last-child) {
      padding-right: 30px;

      @include media-down(small-tablet) {
        padding-right: 20px;
      }
    }
    
  }

  @include media-down(small-tablet) {
    padding: 10px 0;
  }
}
